/*
 *  License: Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)
 */

h1, h2, h3, h4, h5, h6 {
  /* font-family: "Playfair Display SC", serif; */
  font-family: "Lato", Arial, sans-serif;
  color: #eeeeee; }

a, p, li {
  font-family: "Lato", Arial, sans-serif;
  color: #eeeeee;
  font-size: 1em;
  line-height: 1.75em; }

a:hover {
  text-decoration: none !important;
  color: #333333 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.container {
  margin: auto;
  max-width: 662px;
  padding: 0 20px; }

  .navbar li:not(:first-child) {
    margin-top:27px;
  } 

  .projects .grey {
    color: #afafaf; }
    .projects .grey a {
      color: #afafaf;
      text-decoration: none; }
    .projects a:hover {
      color: rgb(88, 100, 186) !important; }

@media (max-width: 767px) {
  .intro {
    padding: 25px 0 70px 0 !important;
  }
  .intro h1:before {
		font-size: 250px !important;
    left:-10vw!important;
  }
  .intro img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:150px !important;
    height:150px !important;
  }
  .navbar ul {      
  list-style: none;
  margin: 0;
  }
  footer {
    text-align: center; 
  }
  footer .social li:first-child{
    margin:0;
  }
  .navbar ul li:not(:first-child) {
    display: none;
  } 
  .navbar ul li:first-child {
    font-size: 42px;
  } 
  .projects .cards {
    flex-direction: column;
  }
}

.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.main-nav {
  padding-top: 23px; }
  .main-nav nav ul li a {
    color: #a7a7a7; }
  .main-nav .logo {
    font-weight: 600;
    font-size: 42px; }
  .main-nav .color-changing a {
    animation: changeColor 5s infinite;}
    @keyframes changeColor {
      0% { color: #9b5de5; }
      25% { color: #f15bb5; }
      50% { color: #fee440; }
      75% { color: #00f5d4; } 
      100% { color:#0080c9; }  }
  .main-nav .color-changing a:hover {
    color: #9b5de5 !important;}

.section.second:not(.about) {
  margin-bottom: 90px; }
.section .container {
  position: relative; }
  .section .container h1 {
    margin-bottom: 18px;
    position: relative; }
    .section:not(.about) .container:after {
      position: absolute;
      content: url(../img/divider.png);
      left: 20px; }

.intro {
  padding: 95px 0px 70px 0px;
  overflow-x: hidden; }
  .intro img {
    width: 81px;
    height: 81px;
    border-radius: 99px; }
  .intro .wrap {
    margin: 30px 0px; }
  .intro h1:before {
    content: '.mlh';/* Edit this with your name or anything else */
    position: absolute;
    left: -205px;
    top: -150px;
    font-size: 270px;
    z-index: -1;
    color: #4c5213; }
  .intro h1 span {
    font-size: 47px; }
  .intro h1 .span {
    font-weight:lighter;
    color:#c8c8c8d4;
    font-size:100%; }
  .intro p span { 
    color: #D596FF;  }
  .intro .quality span {
    padding:4px 8px;
    border-radius: 4px;
    font-weight: 500;
    color :#333333;
    margin: 3px 2px; }
  @media (max-width:482px){
    .intro .quality span {
      display:inline-block;
    }
  }
  .intro .quality span:nth-child(1){
    background-color: #ffe5d9;
  }
  .intro .quality span:nth-child(2){
    background-color: #a9def9;
  }
  .intro .quality span:nth-child(3){
    background-color: #e7c6ff;
  }
  .intro .quality span:nth-child(4){
    background-color: #b9fbc0;
  }
  .intro .quality span:nth-child(5){
    background-color: #E9FF6A;
  }



.work .work-list {
  margin-left: 0px; }
  .work .grey {
    color: #afafaf; }
    .work .grey a {
      color: #afafaf;
      text-decoration: none; }
    .work a:hover {
      color: rgb(88, 100, 186) !important; }
  .work .work-list li {
    list-style: none;
    font-size: 0.9375em; }
    .work .work-list li a {
      padding-bottom: 5px;
      font-size: 1.1875em;
      font-weight: 700;
      text-decoration: none;
      border-bottom: 1px solid #b3b3b3; }
      .work .work-list li a:hover {
        border-bottom: 1px solid #333333; }
        .work .tab0 {
          font-size:17px;}
        .work .tab0 span {
          color:#F77DFF; }
        .work .tab0 .company {
          color:rgb(209, 34, 206);
          font-weight: 700; }
        .work .tab0 .parenthese {
          color:rgb(225, 207, 49);
          font-weight: 700; }
        .work .tab1 span {
          color:#F77DFF; }
        .work .tab1 {
          color:gold; 
          font-weight: 600;
          margin-left: 15px;}
        .work .tab2 {
          margin-left: 30px;}

.award .award-list {
  margin-left: 0px; }
  .award .tab1 {
    margin-left:15px; }
  .award .tab2 {
    margin-left: 30px; 
    color: #97d43c}
    .award .tab2 span {
      margin-right: 8px;
      color: #afafaf }
      .award .tab2 .except {
        margin-right: 0px;
        color: #97d43c}
  #title1, #title2, #title3, #title4 {
    font-size: 115%;
    font-weight: bold;
  }

.skills .skill-list {
  margin-left: 0px; }
  .skills .grey {
    color: #afafaf; }
    .skills .grey a {
      color: #afafaf;
      text-decoration: none; }
    .skills a:hover {
      color: rgb(88, 100, 186) !important; }
  .skills .tab1 {
    margin-left: 15px;
  }
  .skills .tab2 {
    margin-left: 30px;
  }
  .skills .tab3 {
    margin-left: 45px;
  }
  .skills button {
    background-color: transparent;
    border: 2px solid lightgray;
    border-radius: 8px;
    color:white;
    padding: 5px 12px;
  }
  .skills button:hover {
    background-color: rgba(116, 116, 116, 0.569);
    border: 2px solid rgb(116, 116, 116); }
    .skills button:hover .darkblue{
      color:#90ADFF; }
  .skills .purple {
    color: rgb(166, 70, 213); }
  .skills .pink { 
    color:plum;}
  .skills .orange {
    color: #FFC30D; }
  .skills .yellow {
    color: gold; }
  .skills .darkgreen {
    color:darkcyan }
  .skills .green {
    color: yellowgreen; }
  .skills .grey {
    color: #afafaf; }
  .skills .darkblue {
    color:#90ADFF;}
  .skills .blue {
    color:rgb(0, 140, 255); }
  .skills .red {
    color:#FF9100;}

   
footer {
  padding: 50px 0px 0px 0px; }
  footer .social li {
    display: inline;
    margin-left: 20px; }
    footer .social li a {
      font-size: 0.95em;
      color: #eee;
      text-decoration: none;}
      footer .social li a i {
        font-size: 1.25em;
        color: #eee;
        margin-right: 5px;
      }
  footer .units-row{
    margin-bottom: 0 !important; }

#typed {
  color:greenyellow;
  font-size: 55px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

@media (min-width: 1120px) {
  .navbar ul {
    display: grid;
  }
  .main-nav{
    position: fixed;
    height:100%
  }
  .navbar li:not(:first-child){
    margin:0!important;
  }
}


/* CSS Modal */
.modal {
  display: none;/*  Cacher la modal par défaut */
  position: fixed; /* Position fixe */
  z-index: 3; /* Place la modal au-dessus de tout le reste */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.55); /* Fond semi-transparent */
}

.modal-content {
  background-color: #4b4b4b;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;}
  .modal-content .d-flex {
  display:flex;}
  .modal-content p {
    margin:0; }
  .modal-content .mb-10 {
      margin-bottom:10px; }
  .modal-content ul {
    margin: 0 0 0 2.33rem;  }
    .modal-content ul li span {
      color: darkgray ;  }

.close {
  color: #d4c696;
  float: right;
  font-size: 28px;
  font-weight: bold;}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Images Gallery */
.gabarit {
  display: flex;
  width: 100%;
  padding: 4% 0;
  box-sizing: border-box;
  height: 28vw; }
@media  (max-width:901px) {
  .gabarit{
    display: none;
  }
}
.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  line-height: 0;}
.box > img {
  width: 150%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;}
.box:hover { 
  flex: 1 1 60%; }

.box:hover > img {
  width: 100%;
  height: 100%;}
 


/* Style du bouton */
#myBtn {
  display: none; /* Masquer le bouton par défaut */
  position: fixed; /* Position fixe pour le bouton */
  bottom: 20px; /* Position du bouton par rapport au bas de la page */
  right: 30px; /* Position du bouton par rapport à la droite de la page */
  z-index: 99; /* Place le bouton au-dessus des autres éléments de la page */
  font-size: 24px; /* Taille du texte */
  border: none; /* Supprime les bordures */
  outline: none; /* Supprime le focus */
  cursor: pointer; /* Curseur de la souris */
  background-color: white;
  padding: 5px 4px 0px 4px;
  border-radius: 18%;
  animation: changeColor 5s infinite;
  transition: .2s ease-in-out;
  box-shadow: -1px -1px 7px rgba(255, 255, 255, .7);}
  #myBtn:hover{
    color:#222222!important;}

    
